<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7a6466">  <td>23/10/19 16:58:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TC1.executor()[pri:0, instance:TestClassPackage.Put_TC1@6f10d5b6]">executor</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="7da279">  <td>23/10/19 16:58:00</td>   <td>-205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC1.executor()[pri:0, instance:TestClassPackage.Post_TC1@792b749c]">executor</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="aba8be">  <td>23/10/19 16:58:00</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC1.executor()[pri:0, instance:TestClassPackage.Get_TC1@548a24a]">executor</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="ebbb90">  <td>23/10/19 16:58:00</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC1.executor()[pri:0, instance:TestClassPackage.Patch_TC1@1040be71]">executor</td> 
  <td>main@617901222</td>   <td></td> </tr>
</table>
